@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.light {
    font-family: Arial;
}

.dark {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
}