@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

.light {
    background-image: url(Main_Images/LightBackground.png);
    font-family: Arial;
    text-align: center;
}

.dark {
    background-image: url(Main_Images/DarkBackground.png);
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: x-large;
    text-align: center;
}

.max {
    background-color: rgb(54, 57, 63);
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: x-large;
    text-align: center;
}